body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>; /* Set a specific weight, e.g., 400 (normal) or 700 (bold) */
    font-style: normal;
    background-color: #1a1a19;
    color: #ffffff;
}
